.icon{
     /* font-size: 1rem !important;   */
    cursor: pointer;
    width: 3em !important;;
    height: 1.5em !important;;
    color:#6A359C;;
}
.noteWrapRuleTable{
  width: 900px;   
border: 2px ;
word-wrap: break-word; 
text-align: justify; 
}
.label + .MuiInput-formControl {
  margin-top: 0px !important;
}
.progressTop {
   
  width: 720px;
  height: 49px;

  margin-left: 453px;
}
/* .infoContainer{
  display: flex;
}
.info {
  flex: 1;
} */
/* .MuiBox-root-3 > :not(style) {
  width: 0ch ;
} */