.rule_filters{
    display : grid;
    grid-template-columns: repeat(6,auto);
    /* grid-gap: 5px; */
    text-align:left;
    width:30vw;
    list-style:none;
    /* justify-content: end; */
    font-size: 16px;
    padding:5px;
}
.button{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 9px;
    text-align: left;
    width: 97vw;
    list-style: none;
    justify-content: end;
    font-size: 16px;
    padding: 5px;
}
.icon{
    font-size: 0.9rem !important; 
    
}

.error_note {
    visibility: hidden;
  }
  .error_note_view {
    visibility: visible;
  }

  .tablecellborder {
    border-bottom: "none" !important;
  }
  .noteWraprule{
    width: 900px;   
  border: 2px ;
  word-wrap: break-word; 
  text-align: justify; 
  }

  .css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 12px !important;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 12px !important;
  }
  .TextStyle{
    

    font-size: 16 !important;
  /* color: black !important; */
  font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 42px;
  /* background-color: gainsboro; */

  background-color: #6A359C;
    /* color: wheat; */
    color: white !important;
  }

  .variableSummaryHeader{
    font-size: 16 !important;
  /* color: black !important; */
  font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 42px;
  background-color: gainsboro;

  /* background-color: #6A359C; */
    color: black;
    /* color: white !important; */
  }
  /* font-size: 16 !important;
    color: #3f51b5 !important */
  .cardMediaStylepopup {
   
    width: 636px;
    height: 322px;
  }
  .activeLineRules{
    /* transform: rotate(-135deg) !important;
    -webkit-transform: rotate(-135deg); */
    border-top: 4px solid #552586;
    width: 6%;
    margin-left: 473px;
    margin-top: -24px;
  }
  .tableRow{
    font-size:12px !important
  }
  .rule .MuiTableCell-stickyHeader {
    /* background-color: #00965f !important;  */
    background-color: #f4f0ec !important; 
    /* color:white */
   color: black !important;
}