.noteWrap{
    width: 544px;   
  border: 2px ;
  word-wrap: break-word;  
  }
  .anamolyInfo {
    flex: 1;
    /* margin-top: 17px;
    margin-left:7px;
    color:  #2e8b57; */
    margin-top: 8px;
    margin-left: -8px;
    color: #8d848d;
    /* rgb(173, 239, 203) */
  }