.divalign{
    margin:0px;
}

.scroll{
    width: 1124px;
  height: 162px; 
  /* 200 */
  overflow: scroll;
  margin: 4px;
}
.cardcontent{
  height: 600px;
  /* max-height: 500px; */
}
.commentbutton{
  /* margin-left: -2px !important;
  margin-top: 40px !important; */
  color:white !important;
  background-color: black !important;

}
.ProgressBarTopClaimsDetails{
  width: 702px;
    height: 49px;
    margin-left: 452px;
}
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  /* flex: 33.33%; */
  padding: 5px;
  max-width: 377px
}
.circle{
  font-size: 12px !important;
}
.MuiTab-textColorInherit.Mui-selected  {
  color: #552586 !important;
    background-color: lightgrey;
    font-weight: bold;
}
.PrivateTabIndicator-colorSecondary-3{
  background-color: black !important;
}
.shigh{
  color: "red" !important;
  font-weight: 700;
  display: "inline-block" !important;
  padding: "theme.spacing(1)";
      text-align: "center";
 
      padding-block: 5;
      border-radius: 5
}
.slow{
  color: "green" !important;
  font-weight: 700;
  display: "inline-block" !important;
}
.c li::marker {
  font-size: 1.5rem;
  /* background-image: linear-gradient(90deg, #552586,#B589D6 ); */
}
.c li:first-child::marker{
  color: #dc143c
}
.c li:nth-child(2)::marker{
  color: #ff4040;
}
.c li:nth-child(3)::marker{
  color: #ff9999;
}
.d .MuiInputBase-root {
  width: 845px !important;
}