.icon{
     /* font-size: 1rem !important;   */
    cursor: pointer;
    width: 3em !important;;
    height: 1.5em !important;;
}
.noteWrapRuleTable{
  width: 900px;   
border: 2px ;
word-wrap: break-word; 
text-align: justify; 
}