.rule_filters{
    display : grid;
    grid-template-columns: repeat(6,auto);
    /* grid-gap: 5px; */
    text-align:left;
    width:30vw;
    list-style:none;
    /* justify-content: end; */
    font-size: 16px;
    padding:5px;
}
.button{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 9px;
    text-align: left;
    width: 97vw;
    list-style: none;
    justify-content: end;
    font-size: 16px;
    padding: 5px;
}
.icon{
    font-size: 0.9rem !important; 
    
}

.error_note {
    visibility: hidden;
  }
  .error_note_view {
    visibility: visible;
  }

  .tablecellborder {
    border-bottom: "none" !important;
  }