.legendDotred {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  .legendDotgreen {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  .matrixCell{
    height: 77px ;
    width: 130px ;
    padding: 30px !important;
   
  }