.circle{
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color: grey;
}
.circle:hover{
  background-color: #552586;
/* background-color: green; */
transform: scale(1.2);
}
.cardMediaStylepopup {
   
  width: 636px;
height: 322px;

}
.progressTopAlert {
   
  width: 695px;
height: 47px;
margin-left: 545px;
margin-top: 10px;
}

/* width: 730px;
height: 49px;
margin-left: 512px; */

/* width: 708px;
height: 47px;
margin-left: 542px;
margin-top: 10px; */

/* width: 687px;
height: 47px;
margin-left: 551px;
margin-top: 10px; */