.divalign{
    margin:9px;
}
.filter_div {
    display: flex;
    width: 80%;
  }

  .filter_div_kpi {
    display: flex;
    width: 100%;
  }
  
  .filter_flex{
    flex: 1;
    
    /* border: 2px solid blueviolet; */
    /* margin: 10px; */
  }
  .sizeSmall {
    padding: 6px 4px 6px 16px !important
}; 

.sizeSmallMonth {
    padding: 6px 8px 6px 16px !important
}; 

.CardSpace {
    padding-bottom: 0px !important;
}
.MuiInputBase-input {
    font-size: 14px !important;
}
/* .MuiInputBase-root {
    width:177px !important;
} */
.TotalClaimbgc{
  background: linear-gradient(to bottom,  #dcd0ff 0%,   #e6e6fa 100%);

}
.CardWidth{
  width:100px !important;
}
.cardMediaStylepopup {
   
  width: 636px;
height: 322px;

}

.ProgressBarTopInvestigation{
  width: 685px;
    height: 49px;
    margin-left: 453px;
}
.impactSummaryKPIStyle{
  background-color:#ADEFCB;
  margin-left: 27px;
  font-size: 14px;
  border-radius: 6px;
    padding: 3px;
}
.impactSummaryInfo{
  flex: 1 1;
    margin-top: -17px;
    margin-left: 56px;
    color: #8d848d;
}
.impactSummaryInfoContainer {
  display: flex;
}
.impactSummaryHeading{
  margin-left:80px;
}

.impactSummaryHeadingFraudRate{
  margin-left: 62px;
  White-space: nowrap;
}
.impactSummaryHeadingFraudRateInfo{
  flex: 1 1;
    margin-top: -16px;
    margin-left: 31px;
    color: #8d848d;
}


.impactSummaryInfoIcon{
  font-size: 15px !important;
  cursor: pointer;
}
.aiImpactInfo{
  flex: 1 1;
    margin-top: 12px;
    margin-left: 0px;
    color: #8d848d;
}
.postAIImplementation{
  background-color: #cec8ef;
}