.bgcolor .css-15wwp11-MuiTableHead-root{
background-color:black !important;
}
.icon{
    font-size: 0.7rem !important; 
    cursor: pointer;
}
.Severitydot1 {
    height: 8px;
    width: 8px;
    background-color: #fff0b3;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot2 {
    height: 8px;
    width: 8px;
    background-color: #ffeb99;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot3 {
    height: 8px;
    width: 8px;
    background-color: #ffcc80;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot4 {
    height: 8px;
    width: 8px;
    background-color: #ffc266;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot5 {
    height: 8px;
    width: 8px;
    background-color: #ffb84d;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot6 {
    height: 8px;
    width: 8px;
    background-color: #ffa31a;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot7 {
    height: 8px;
    width: 8px;
    background-color: #ff471a;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot8 {
    height: 8px;
    width: 8px;
    background-color: #ff3300;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot9 {
    height: 8px;
    width: 8px;
    background-color: #e62e00;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot10 {
    height: 8px;
    width: 8px;
    background-color: #cc2900;
    border-radius: 50%;
    display: inline-block;
  }