/* .MuiOutlinedInput-root,.MuiInputBase-root, 
.MuiInputBase-colorPrimary,
.MuiInputBase-formControl .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    width: 165px !important;
    height: 45px !important;
} */

/* .MuiOutlinedInput-root .MuiInputBase-root 
.MuiInputBase-colorPrimary 
.MuiInputBase-formControl .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
   
    height: 47px !important;
} */

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 47px !important;
    width: 200px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 12px !important;
}
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 12px !important;

}
.table{
    /* width: 100% !important; */
    overflow-x: auto !important;
}
.divalign{
    margin:9px;
}
.MuiTableCell-stickyHeader {
     /* background-color: #00965f !important;  */
     background-color: Gainsboro !important; 
     /* color:white */
    color: black !important;
}
.filter_div {
    display: flex;
    width: 80%;
    margin-left: 33px;
  }
  .modelButton {
    display: flex;
    width: 100%;
  }
  
  .filter_flex{
    flex: 1;
    
    /* border: 2px solid blueviolet; */
    /* margin: 10px; */
  }
  .sizeSmall {
    padding: 6px 4px 6px 16px !important
}; 

.sizeSmallMonth {
    padding: 6px 8px 6px 16px !important
}; 

.CardSpace {
    padding-bottom: 0px !important;
}
.MuiInputBase-input {
    font-size: 14px !important;
}
.MuiInputBase-root {
    width:177px !important;
}
.cardMediaStylepopup {
   
    width: 636px;
    height: 322px;
  }
  .progressTopReporting {
   
    width: 672px;
    height: 49px;
  
    margin-left: 462px;
  }
  .activeLineSummary{
    /* transform: rotate(-135deg) !important;
    -webkit-transform: rotate(-135deg); */
    border-top: 4px solid #552586;
    width: 10%;
  margin-left: 880px;
  margin-top: -23px;
  }
  .summaryInfo{
    flex: 1 1;
    margin-top: 10px;
    margin-left: 0px;
    color: #8d848d
     /* #0a54c3 #32095e; */
  }