.divalign{
    margin:9px;
}
.filter_div {
    display: flex;
    width: 80%;
  }
  
  .filter_flex{
    flex: 1;
    
    /* border: 2px solid blueviolet; */
    /* margin: 10px; */
  }
  .sizeSmall {
    padding: 6px 4px 6px 16px !important
}; 

.sizeSmallMonth {
    padding: 6px 8px 6px 16px !important
}; 

.CardSpace {
    padding-bottom: 0px !important;
}
.MuiInputBase-input {
    font-size: 14px !important;
}
/* .MuiInputBase-root {
    width:177px !important;
} */