.upload {
    display: flex;
    /* margin-right: 5px; */
    width: 200px;
    margin-top: 18px;
    /* margin-left: 1064px; */
    float: right;
    /* margin-right: -194px; */
    flex-wrap: wrap;
    background-color: #EFEFEF !important; 
   margin-top: 23px !important;
}
.MuiButton-contained{
background-color: #228DE0 !important;
color: white !important;
}
/* .MuiTableCell-stickyHeader {
 
  background-color: #228DE0 !important;
  color: white !important;
} */
.card{
  background-color: #EFEFEF !important; 
   margin-top: 23px !important;
}
.rpv-open__input-wrapper {
  visibility: hidden;
}
.claims_card{
margin-left: 10px;
}
.pagefilter_div {
  display: flex;
   width: 100%; 
}
.filter_length {
  height: 47px !important;
  width: 437px !important;
}

.filter_flex{
  flex: 1;
  
  /* border: 2px solid blueviolet; */
  /* margin: 10px; */
}

/* .MuiCardContent-root{
  background-color: #EFEFEF !important; 
   margin-top: 23px !important;
} */
  
  /* .table-class {
    position: absolute;
    right: 99px;
    margin-top: -23px;
    cursor: pointer;
    color: grey;
  }
  
   */