.cardactions{
   height: 300px;
}
.papercontent{
    width: 300px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.cardcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 12px !important;
}