.css-8fz7fy-MuiPaper-root-MuiCard-root {
    width:300px !important;
    margin-left: 10px;
}
.MuiTypography-body1 {
    font-size: 12px !important;
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    font-weight: bold !important;
    /* line-height: 1.5;
    letter-spacing: 0.00938em; */
}
.st-box {
    float:left;
    width:180px;
    height:103px;
    
}
.nd-box {
    float:left;
     /* width:180px; */
     margin-top: 18px;
    height:100px;
    margin-left:27px;
}
.noteWrap{
    width: 635px;   
  border: 2px ;
  word-wrap: break-word;  
  }
  .progressTopStructured {
   
    width: 722px;
    height: 49px;
  
    margin-left: 452px;
  }
  .activeLineRules{
    /* transform: rotate(-135deg) !important;
    -webkit-transform: rotate(-135deg); */
    border-top: 4px solid #552586;
    width: 5%;
  margin-left: 431px;
  margin-top: -17px;
  }

  .aiRulesInfo {
    flex: 1;
    /* margin-top: 17px;
    margin-left:7px;
    color:  #2e8b57; */
    margin-top: 6px;
    margin-left: -9px;
    color: #8d848d;
    /* rgb(173, 239, 203) */
  }