.divalign{
    margin:9px;
}

.scroll{
    width: 1124px;
  height: 200px; 
  overflow: scroll;
  margin: 4px;
}
.cardcontent{
  height: 700px;
}
.commentbutton{
  margin-left: 6px !important;
  margin-top: 53px !important;
}