*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Scroll Bar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f5f7f8;
}
::-webkit-scrollbar-thumb {
  background: #c6d2d8;
}
::-webkit-scrollbar-thumb:hover {
  background: #c1cdd4;
}