.Header{
    font-size: 16 !important;
  /* color: black !important; */
  font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 36px;
  background-color: gainsboro;
width:630px;
  /* background-color: #6A359C; */
    color: black;
    margin-left: 7px;
    /* color: white !important; */
  }
  .Feature{
    font-size: 12 !important;
    /* width: 200px;
    height: 100px;
    padding: 20px; */
    border: 1px solid purple;
    border-radius: 8px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 36px;

width:630px;
 
    color: black;
    margin-left: 7px;
   
  }
  .s .MuiTableCell-stickyHeader {
    /* background-color: #00965f !important;  */
    background-color: #f4f0ec !important; 
    /* color:white */
   color: black !important;
}