.kpi-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: #dadce0;
    padding: 1em;
    border-radius: 1em;
}

.span-row {
  grid-row: span 2;
}

.span-col {
  grid-column: span 2;
}

.kpi {
    display: flex;
    margin: 10px;
}

.kpi-description {
    position: relative;
/*   width: auto;
  height: auto;  */
  border: 1px solid grey;
  padding: 10px;
  border-radius: 1em;
  text-align: left;
  font-family: monospace;
  font-weight: 550;
  font-stretch: expanded;
  color: #a6a6a6;
    background-color: white;
}

.kpi-value {
display: flex;
  position: relative;
  /* border: 1px solid blue; */
  margin-left: 10%;
  margin-top: 5%;
  padding-top:5px;
  font-family: monospace;
  font-weight: 100;
  font-weight: 700;
  color: black;
  
} 

.kpi-impact {
  position: relative;
  border: 1px solid #b3ffd9;
  margin-left:10%;
  font-size: 10px;
  padding: 1px;
  border-radius: 5px;
  background-color: #b3ffd9;
  font-weight: bold;
  font-color: green;
  font-family: serif;
  font-weight: 100;
/*   width: auto; */
  color: green;
}


.kpi-row-spanned-description {
    position: relative;
/*   width: auto;
  height: auto;  */
  border: 1px solid grey;
  padding: 10px;
  border-radius: 1em;
  text-align: left;
  font-family: monospace;
  font-weight: 550;
  font-stretch: expanded;
  color: #a6a6a6;
    background-color: white;
    
  width: 100%;
  padding: 25%;
    
}



.header-horiz {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  background: #f3f3f3;
  border: 1px solid var(--color-stroke);
    width: 100%;
}


.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
    margin-right: 10px;
    
}

.row-spanned-item {
  grid-row: span 2;
  width: 100%;
  padding: 25%;
  margin: 20%;
}

.icon-kpi-card {
  display: grid;
    grid-template-columns: 1fr 5fr;
  position: relative;
  border: 1px solid grey;
    border-radius: 1em;
    width: auto;
}

.icon-kpi-description {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
    /* border: 1px solid red; */
    font-size: smaller;
    text-align: center;
    padding: 5px;}


.icon-kpi-value {
    text-align: center;
    /* border: 1px solid; */
    margin-left: 5px;
    margin-right: 5px;
    font-size: smaller;
    padding: 2px;
}

.app-main-header {
    
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  background: #f3f3f3;
  border: 1px solid var(--color-stroke);
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 42%, rgba(2,0,36,1) 92%);
    color: white;

}


.app-sub-header {

    font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  background: #f3f3f3;
  border: 1px solid var(--color-stroke);
    width: 100%;
    text-align: center;
    background: rgb(134,91,236);
    color: white;

}


.page-analytics {

    display: grid;

}



