.css-8fz7fy-MuiPaper-root-MuiCard-root {
    width:300px !important
}
.MuiTypography-body1 {
    font-size: 12px !important;
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    font-weight: bold !important;
    /* line-height: 1.5;
    letter-spacing: 0.00938em; */
}
.st-box {
    float:left;
    width:180px;
    height:103px;
    
}
.nd-box {
    float:left;
     /* width:180px; */
     margin-top: 18px;
    height:100px;
    margin-left:130px;
}