

.divalign{
  margin:9px;
}
.bgcolor .css-15wwp11-MuiTableHead-root{
background-color:black !important;
}
.viewicon{
    font-size: 0.8rem !important; 
    cursor: pointer;
}
.Severitydot1 {
    height: 8px;
    width: 8px;
    background-color: #fff0b3;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot2 {
    height: 8px;
    width: 8px;
    background-color: #ffeb99;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot3 {
    height: 8px;
    width: 8px;
    background-color: #ffcc80;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot4 {
    height: 8px;
    width: 8px;
    background-color: #ffc266;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot5 {
    height: 8px;
    width: 8px;
    background-color: #ffb84d;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot6 {
    height: 8px;
    width: 8px;
    background-color: #ffa31a;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot7 {
    height: 8px;
    width: 8px;
    background-color: #ff471a;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot8 {
    height: 8px;
    width: 8px;
    background-color: #ff3300;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot9 {
    height: 8px;
    width: 8px;
    background-color: #e62e00;
    border-radius: 50%;
    display: inline-block;
  }
  .Severitydot10 {
    height: 8px;
    width: 8px;
    background-color: #cc2900;
    border-radius: 50%;
    display: inline-block;
  }
  .grad1 {
    height: 10px;
    width:100px;
    margin-left: 1000px;
    margin-top:-11px;
    background-color: transparent; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , yellow);
  }
  .gradData{
   
    margin-left: 1045px;
    margin-top:-13px;
    font-size: 11px;
   color:black;
  
  }
  .dot1 {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  .dot2 {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }
  .dot3 {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }

  .cardMediaStylepopup {
   
      width: 636px;
    height: 322px;
   
    }
  
    .activeLine{
      /* transform: rotate(-135deg) !important;
      -webkit-transform: rotate(-135deg); */
      border-top: 4px solid #552586;
     width: 15%;
    margin-left: 645px;
    margin-top: -24px;
    }
    .Alertinfo {
      flex: 1 1;
      margin-top: 30px;
      margin-left: -8px;
      color: #8d848d;
  }
  .alertsCell{
font-weight: bold !important;
  }
  .severityPic{
    width: 123px;
    height:31px;
    margin-left: 940px
  }
  