.kpicard{
    margin-left: 290 !important;
}
.filter_div {
    display: flex;
    width: 80%;
  }
  
  .filter_flex{
    flex: 1;
    
    /* border: 2px solid blueviolet; */
    /* margin: 10px; */
  }
 
   
    .cardMediaStylepopup {
   
      width: 636px;
    height: 322px;
   
    }

    .ProgressBarTopClaimsForecast{
      width: 685px;
        height: 49px;
        margin-left: 453px;
    }
    .forecastInfo {
      flex: 1 1;
      margin-top: 13px;
      /* margin-left: 2px; */
      color: #8d848d;
  }
  