.navbar{
    /* background-color: #87CEFA; */
    background-image: linear-gradient(90deg, rgb(0,150,95),rgb( 1,193,180) );
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.rule_navbar{
    background-color: #F8F8FF	;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}



.rule_nav-menu{
    display : grid;
    grid-template-columns: repeat(6,auto);
    /* grid-gap: 5px; */
    text-align:left;
    /* width:30vw; */
    list-style:none;
    /* justify-content: end; */
    font-size: 14px;
    padding:20px;
}

.rulebank_nav-menu{
    display : grid;
    grid-template-columns: repeat(6,auto);
    /* grid-gap: 5px; */
    text-align:left;
    /* width:30vw; */
    list-style:none;
    /* justify-content: end; */
    font-size: 14px;
    padding:20px;
    margin-left: 925px;
}

.rule_nav-links{
    color:black;
    text-decoration: none;
    padding:0.5rem 1rem;
}
.rule_nav-links:hover{
    background-color:rgb(243, 229, 229); 
    border-radius: 4px;
    color:black;
    transition: all .2s ease-out;
}

.rule_is-active{
     /* background-color: #F0FFFF	;  */
     text-decoration: none; border-bottom:solid rgb(0,150,95); 
    color: black;
}

.nav-logo{
    color: #fff;
    /* margin-left: 50px; */
    margin-right: 170px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.nav-logo-landing{
    color: #fff;
    margin-left: 50px;
    /* margin-right: 128px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.nav-logo-landingpage{
    color: #fff;
    margin-left: 500px;
    /* margin-right: 128px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
.nav-menu{
    display : grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    text-align:center;
    width:80vw;
    list-style:none;
    justify-content: end;
    font-size: 16px;
}
.is-active{
    background-color: gray;
    color: #fff;
}
.nav-links{
    color:#fff;
    text-decoration: none;
    padding:0.5rem 1rem;
}

.nav-links:hover{
    background-color:lightgray; 
    border-radius: 4px;
    color:black;
    transition: all .2s ease-out;
}
.menu-icon{
    display: none;
}
@media only screen and (max-width :960px){
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right:0;
        font-size: 1.8rem;
        color:#fff;
        transform: translate(-100%, 55%);
        cursor: pointer;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width:100%;
        height:90vh;
        position:absolute;
        top:10vh;
        left:-100%;
        transition: all .4s ease;
        overflow: auto;
        opacity: 0;
    }
.nav-menu.active{
    background-color: #242222 ;
    left:0;
    transition: all .5s ease;
    z-index: 1;
    opacity: 1;
}
.nav-links{
    text-align: center;
    padding:2rem;
    width:100%;
    display:table;
}
.nav-links:hover{
    background-color: black;
    border-radius: 0;
    color: #5d13e7;

}
.nav-logo{
    position:absolute;
    top:0;
    left:0;
    transform: translate(25%,50%);
    margin-left: 0;   
    font-size: x-large;
}

}
@media only screen and (max-width :400px){
    .nav-logo{
        font-size: .7rem;
        
    }
    .menu-icon{
        font-size: 1rem;
        transform:translate(1%,25%);
    }
}