/* .MuiOutlinedInput-root,.MuiInputBase-root, 
.MuiInputBase-colorPrimary,
.MuiInputBase-formControl .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    width: 165px !important;
    height: 45px !important;
} */

/* .MuiOutlinedInput-root .MuiInputBase-root 
.MuiInputBase-colorPrimary 
.MuiInputBase-formControl .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
   
    height: 47px !important;
} */

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 47px !important;
    width: 200px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 12px !important;
}
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 12px !important;

}
.table{
    /* width: 100% !important; */
    overflow-x: auto !important;
}
.divalign{
    margin:9px;
}
.MuiTableCell-stickyHeader {
     background-color: #00965f !important; 
    color: white !important;
}