
.infoContainer{
    display: flex;
    background-color: #e5e4e2;
    height:38px;
  }
  .infoHeadingContainer{
    display: flex;
  }
  .info {
    flex: 1;
    /* margin-top: 17px;
    margin-left:7px;
    color:  #2e8b57; */
    margin-top: 30px;
    margin-left: 2px;
    color: #8d848d;
    /* rgb(173, 239, 203) */
  }
  .infoIcon{
    font-size: 14px !important;
    cursor: pointer
  }